/*
 * PagarmeApiSDKLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package me.pagar.api.controllers;

import io.apimatic.core.ApiCall;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import me.pagar.api.ApiHelper;
import me.pagar.api.Server;
import me.pagar.api.exceptions.ApiException;
import me.pagar.api.http.request.HttpMethod;
import me.pagar.api.models.GetTransactionResponse;

/**
 * This class lists all the endpoints of the groups.
 */
public final class DefaultTransactionsController extends BaseController implements TransactionsController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public DefaultTransactionsController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * @param  transactionId  Required parameter: Example:
     * @return    Returns the GetTransactionResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public GetTransactionResponse getTransaction(
            final String transactionId) throws ApiException, IOException {
        return prepareGetTransactionRequest(transactionId).execute();
    }

    /**
     * Builds the ApiCall object for getTransaction.
     */
    private ApiCall<GetTransactionResponse, ApiException> prepareGetTransactionRequest(
            final String transactionId) throws IOException {
        return new ApiCall.Builder<GetTransactionResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/transactions/{transaction_id}")
                        .templateParam(param -> param.key("transaction_id").value(transactionId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, GetTransactionResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}